#social-links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
    height: 30px;
    padding: 20px 0;
    transition: var(--standardTransition);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.invert-color {
  filter: invert(1);
}
