#about {
  scroll-margin-top: calc(
    var(--menubar-height) + var(--menubar-padding) + var(--progress-bar-height)
  );
  margin-top: calc(
    var(--menubar-height) * -1 + var(--menubar-padding) * -1 +
      var(--progress-bar-height) * -1
  );
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
