<div id="contact">
  <div id="contact-form__container">
    <div
      id="contact-form__headline--container"
      data-aos="fade-right"
      data-aos-anchor-placement="top-center"
    >
      <h2 id="contact-form__headline" class="default-cursor">
        How can I make your life better?
        <span routerLink="/" fragment="contact-form" class="accent"
          >Let me know.</span
        >
      </h2>
    </div>
    <form
      id="contact-form"
      [formGroup]="contactForm"
      (ngSubmit)="sendMessage()"
      data-aos="fade-in"
      data-aos-anchor-placement="top-center"
    >
      <mat-form-field class="form-field">
        <input
          matInput
          id="name"
          type="text"
          placeholder="Name"
          formControlName="name"
          required
        />
        <mat-error
          *ngIf="
            form['name'].invalid && (form['name'].dirty || form['name'].touched)
          "
        >
          <span *ngIf="form['name'].errors && form['name'].errors['required']">
            Please enter a username.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          id="company"
          type="text"
          placeholder="Company"
          formControlName="company"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          id="email"
          type="email"
          placeholder="E-Mail"
          formControlName="email"
          required
        />
        <mat-error
          *ngIf="
            form['email'].invalid &&
            (form['email'].dirty || form['email'].touched)
          "
        >
          <span
            *ngIf="form['email'].errors && form['email'].errors['required']"
          >
            Please enter an email adress.
          </span>
          <span *ngIf="form['email'].errors && form['email'].errors['email']">
            Please enter a valid email adress.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          id="phone"
          type="tel"
          placeholder="Phone"
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <textarea
          matInput
          id="message"
          rows="6"
          placeholder="Your message"
          formControlName="message"
          required
        ></textarea>
        <mat-error
          *ngIf="
            form['message'].invalid &&
            (form['message'].dirty || form['message'].touched)
          "
        >
          <span
            *ngIf="form['message'].errors && form['message'].errors['required']"
          >
            Please enter your message.
          </span>
        </mat-error>
      </mat-form-field>
      <!-- HONEYPOT -->
      <input
        matInput
        id="last-name"
        type="text"
        placeholder="Last Name"
        formControlName="lastName"
      />
      <!-- HONEYPOT -->
      <mat-checkbox
        [checked]="dataRegulationAgreement"
        (change)="toggleAgreement()"
        >I've read the
        <span id="privacy-link" class="accent" (click)="openPrivacyNotice()"
          >data protection regulations</span
        >
        and I hereby agree to them.</mat-checkbox
      >
      <button
        mat-raised-button
        color="primary"
        [class.spinner]="loading"
        type="submit"
        [disabled]="contactForm.invalid || !dataRegulationAgreement"
      >
        <span *ngIf="!loading">Send</span>
        <span *ngIf="loading"> </span>
      </button>
    </form>
  </div>
</div>
