@import "../../animations";

#privacy-notice {
  animation: fadeIn var(--mediumSpeed);
  text-align: justify;

  h4,
  p {
    margin: max(1%, 10px) 0;
  }

  p,
  ul {
    padding-bottom: max(2%, 20px);
  }

  ul {
    margin-bottom: max(1%, 10px);
  }
}
