<app-welcome></app-welcome>
<div
  id="theme-container"
  class="mat-app-background"
  [class.dark-theme]="isDarkMode"
>
  <div id="responsive-container">
    <mat-progress-bar
      id="progress-bar"
      mode="determinate"
      [value]="scrollPercentage"
      color="accent"
      data-aos="fade-down"
      data-aos-anchor-placement="top-center"
      data-aos-anchor="#project-list"
    ></mat-progress-bar>
    <app-navigation></app-navigation>
    <app-projects></app-projects>
    <app-contact></app-contact>
  </div>
</div>

<router-outlet></router-outlet>
