@import "../device-sizes";

#theme-container {
  position: relative;
  z-index: 0;
  border-radius: var(--border-radius);
}

#responsive-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 var(--globalPaddingLeftRight-small);

  @include xl {
    padding: 0 var(--globalPaddingLeftRight);
  }

  #progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
  }
}
