<div primary id="welcome">
  <div id="welcome__content">
    <div id="hannes-donel__container">
      <div id="to-site" routerLink="/" fragment="start">
        <span id="hannes-donel__slashes">// </span>
        <p id="hannes-donel">Hannes Donel</p>
        <p id="hannes-donel__role">Fullstack Web-Developer</p>
      </div>
    </div>
    <div
      id="to-site-arrow__container"
      routerLink="/"
      fragment="start"
      data-aos="fade-in"
      data-aos-duration="1000"
      data-aos-delay="3000"
      data-aos-anchor-placement="top-center"
      data-aos-anchor="#welcome__content"
    >
      <p>Scroll through my projects</p>
      <mat-icon id="to-site-arrow">keyboard_arrow_down</mat-icon>
    </div>
  </div>
</div>
