@import "../../animations";
@import "../../device-sizes";

#welcome {
  display: block;
  height: 100vh;
  background: 48.5% / cover url("../../assets/Hannes_Donel.jpg") no-repeat;
  animation: fadeIn var(--fastSpeed);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
  color: white;
}

#welcome__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  #hannes-donel__container,
  #hannes-donel__role,
  #hannes-donel__slashes {
    --slash-margin: max(5vw, 15px);
    --max-slash-margin: 40px;

    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    background-color: none;
    margin: 150px 5% 0 0;
    backdrop-filter: blur(2px);

    @include smallHeight {
      margin: 0 7.5% 0 0;
    }

    @include lg {
      margin-right: 6%;
    }
    @include lg {
      margin-right: 7.5%;
    }
    @include xl {
      margin-right: 11%;
    }
    @include xxl {
      margin-right: 15%;
    }

    #hannes-donel__slashes {
      width: calc(var(--slash-margin));
      max-width: var(--max-slash-margin);
    }

    #hannes-donel,
    #hannes-donel__slashes {
      display: inline-block;
      animation: fadeInLeft var(--mediumSpeed) var(--fastSpeed) backwards;
      font-size: min(4.5vw, 35px);
      margin: 0;

      @include smallHeight {
        font-size: min(3vw, 35px);
      }
    }

    #hannes-donel__role {
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      font-size: var(--smallFont);
      @include smallHeight {
        font-size: var(--smallerFont);
      }
      text-transform: none;
      animation: fadeIn var(--mediumSpeed)
        calc(var(--fastSpeed) + var(--mediumSpeed)) backwards;
      margin: 0;
      padding: 0 0 0 min(var(--slash-margin), var(--max-slash-margin));
    }

    #to-site {
      transition: var(--fastTransition);

      &:hover {
        cursor: crosshair;
        opacity: 0.5;
      }
    }
  }

  #to-site-arrow__container {
    position: absolute;
    bottom: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: crosshair;
    }

    #to-site-arrow {
      animation: slideInDown 1s infinite alternate;
      margin-top: 10px;
    }
  }
}
