<div
  id="project-list"
  data-aos="fade-in"
  data-aos-anchor-placement="top-center"
>
  <div
    class="project__container"
    *ngFor="let project of projects"
    id="{{ project.id }}"
  >
    <mat-card class="project">
      <mat-card-header class="default-cursor">
        <mat-card-title>
          <b>{{ project.title }}</b>
        </mat-card-title>
        <mat-card-subtitle>
          {{ project.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list aria-label="Fish selection" selectable="true">
          <mat-chip *ngFor="let technologie of project.technologies">{{
            technologie
          }}</mat-chip>
        </mat-chip-list>
        <mat-accordion>
          <div
            *ngIf="wideScreen"
            class="image-container"
            libRfxParallax
            [imageUrl]="project.sampleImage"
            [forceFullWidth]="true"
            [parallaxPercentage]="100"
          ></div>
          <div class="image-container" *ngIf="!wideScreen">
            <img
              [src]="project.sampleImage"
              alt="Example image of project {{ project.title }}"
            />
          </div>
          <mat-expansion-panel
            (opened)="descriptionOpenState = project.id"
            [expanded]="descriptionOpenState === project.id"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="default-cursor">{{ project.description }}</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="functionalityOpenState = project.id"
            [expanded]="functionalityOpenState === project.id"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Functionality</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="default-cursor">
              <li *ngFor="let function of project.functionality">
                {{ function }}
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button
          mat-button
          *ngIf="project.caseStudy"
          (click)="openCaseStudy(project.caseStudy)"
        >
          Case
        </button>
        <a mat-button target="_blank" href="{{ project.githubUrl }}"
          >See code</a
        >
        <a mat-button target="_blank" href="{{ project.appUrl }}">Use app</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
