<div id="project-list">
  <div
    class="project__container"
    *ngFor="let project of projects"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-anchor="#project-list"
    id="{{ project.id }}"
  >
    <mat-card class="project">
      <mat-card-header>
        <mat-card-title>
          {{ project.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ project.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list aria-label="Fish selection" selectable="true">
          <mat-chip *ngFor="let technologie of project.technologies">{{
            technologie
          }}</mat-chip>
        </mat-chip-list>
        <img
          [src]="project.sampleImage"
          alt="Example picture of project {{ project.title }}"
        />
        <mat-accordion>
          <mat-expansion-panel
            (opened)="descriptionOpenState = project.id"
            [expanded]="descriptionOpenState === project.id"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ project.description }}</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="functionalityOpenState = project.id"
            [expanded]="functionalityOpenState === project.id"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Functionality</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let function of project.functionality">
                {{ function }}
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <a mat-button target="_blank" href="{{ project.githubUrl }}"
          >See code</a
        >
        <a mat-button target="_blank" href="{{ project.appUrl }}">Use app</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
