#project-list {
  display: flex;
  flex-direction: column;
}

.project {
  margin: min(2%, 20px) 0;
  border: black solid 1px;
  border-radius: 2px;
  width: 66%;
  align-self: flex-start;

  &:nth-child(2n + 1) {
    align-self: flex-end;
  }

  &:first-child {
    margin: 0 0 min(2%, 20px);
  }
}
