@import "../../device-sizes";

.project__container {
  margin: max(8%, 20px) 0;
  width: 100%;
  transition: all var(--fastSpeed);

  &:first-child {
    margin: 0 0 min(4%, 20px);
  }

  mat-expansion-panel * {
    font-size: var(--normalFont) !important;
  }

  mat-card-title * {
    font-size: var(--normalFont) !important;
  }

  @include sm {
    mat-card-title * {
      font-size: var(--mediumFont) !important;
    }
  }

  mat-card,
  mat-card * {
    font-family: inherit !important;
  }

  @include md {
    mat-card {
      background: none !important;
      box-shadow: none !important;
      padding: 0 !important;
    }

    mat-accordion * {
      box-shadow: none !important;
    }
  }

  mat-chip:after {
    background-color: unset !important;
  }

  mat-card-actions {
    margin: 0 !important;

    * {
      font-size: var(--normalFont) !important;
    }
  }

  img {
    width: 100%;
    margin-top: 14px;
    border-radius: var(--border-radius);
  }

  ul {
    padding-left: 15px;
  }
}
