<nav
  id="navigation"
  data-aos="fade-in"
  data-aos-duration="500"
  data-aos-offset="-80"
  data-aos-anchor="#responsive-container"
  data-aos-anchor-placement="top-top"
  data-aos-once="false"
>
  <div id="menu-element__container" class="default-background">
    <span role="presentation" class="menu-element">//</span>
    <span role="menuitem" class="menu-element" routerLink="/">Start</span>
    <span
      role="menuitem"
      class="menu-element"
      [class.isActive]="projectsActive"
      [class.accent]="projectsActive"
      routerLink="/"
      fragment="projects"
      color="warn"
      >Projects</span
    >
    <span
      role="menuitem"
      class="menu-element"
      [class.isActive]="contactActive"
      [class.accent]="contactActive"
      routerLink="/"
      fragment="contact"
      >Contact</span
    >
    <button
      id="dark-mode-toggle"
      class="menu-element"
      (click)="toggleDarkMode()"
    >
      <mat-icon [class.display-none]="!this.app.isDarkMode"
        >light_mode</mat-icon
      >
      <mat-icon [class.display-none]="this.app.isDarkMode">dark_mode</mat-icon>
    </button>
  </div>
</nav>
