<nav
  id="navigation"
  data-aos="fade-in"
  data-aos-duration="500"
  data-aos-offset="-80"
  data-aos-anchor-placement="top-top"
  data-aos-once="true"
>
  <a
    class="button"
    routerLink="/"
    fragment="welcome"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Start</a
  >
  |
  <a
    class="button"
    routerLink="/"
    fragment="projects"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Projekte</a
  >
  |
  <a
    class="button"
    routerLink="/"
    fragment="contact"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Kontakt</a
  >
</nav>
