@import "../../device-sizes";

#navigation {
  max-width: 100%;
  height: var(--menubar-height);
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--menubar-padding) 0;

  mat-icon {
    display: flex;
    align-items: center;
    font-size: var(--bigFont) !important;
    width: fit-content;
  }
}

#menu-element__container {
  display: flex;
  align-items: center;
  height: min-content;
  margin-right: calc(var(--globalPaddingLeftRight-small) * -1);
  padding: 0.5vh var(--globalPaddingLeftRight-small) 0.5vh 2vw;
  border-radius: var(--border-radius);

  @include xl {
    padding: 0.75vh var(--globalPaddingLeftRight) 0.75vh 0.75vw;
    margin-right: calc(var(--globalPaddingLeftRight) * -1);
  }
}

.menu-element {
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  margin-right: 15px;
  transition: var(--standardTransition);
  border-bottom: 2px solid transparent;
  height: 100%;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: crosshair;
  }

  &:not(:first-child):hover {
    border-color: inherit;
  }
}

#dark-mode-toggle {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin-left: 2px;
}

.isActive {
  cursor: crosshair;
  border-color: inherit;
}
