// General Styling

html {
  scroll-behavior: smooth;
}

#projects,
#contact {
  margin-top: calc(var(--menubar-height) * -1);
  padding-top: calc(var(--menubar-padding) + var(--menubar-height));
}

// Global Variables
:root {
  --menubar-height: 80px;
  --menubar-padding: 20px;
}
