@import "./themes";
@import "./device-sizes";
@import "./animations";

// Global Variables
:root {
  --menubar-height: 80px;
  --menubar-padding: 5px;
  --progress-bar-height: 5px;
  --border-radius: 4px;
  --lightSpeed: 0.25s;
  --fastSpeed: 0.5s;
  --mediumSpeed: 1s;
  --slowSpeed: 1.5s;
  --smallerFont: 0.75em;
  --smallFont: 1em;
  --normalFont: min(4vw, 18px);
  --mediumFont: 1.25em;
  --bigFont: 1.5em;
  --fastTransition: 0.15s ease-in-out;
  --standardTransition: 0.25s ease-in-out;
  --globalPaddingLeftRight-small: max(5%, 10px);
  --globalPaddingLeftRight: max(15%, 10px);
}

// General Styling

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: var(--normalFont);
}

#about,
#projects,
#contact {
  z-index: 1;
  position: relative;
  background: inherit;
}

.mat-card-header-text {
  margin-left: 0 !important;
}

mat-checkbox {
  padding-bottom: 1.25em;
  align-self: flex-start;
  width: 100% !important;

  span {
    white-space: pre-wrap !important;
  }
}

.cdk-overlay-pane {
  width: 95vw !important;
  max-width: 1024px !important;
  justify-content: center;
}

.default-cursor {
  &:hover {
    cursor: default !important;
  }
}

// Hide things
.display-none {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}
